@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
  
  html{
    height: 100%;
  }

  body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  h1 {
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
  }

  header {
    display: flex;
    justify-content: left;
  }

  .imgheader {
    width: 5%;
  }
     
  .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  .guess-input{
    width: 80px;
    height: 80px;
    border: none;
    background-color: #969898;
    outline: none;
    font-size: 50px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
  }

  p{
    text-align: center;
    font-size: 20px;
  }

  /*#guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
  }*/
     
  button {
    display: block;
    margin: 50px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #52D2BB;
    color: #000000;
    border: none;
    border-radius: 15px;
  }
     
  button:active {
      transform: scale(0.95);
  }
     
  button:hover{
    border: 2px solid #52D2BB;
    background-color: #fff;
    color: #000000;
    cursor: pointer;
  }

  #resultado{
    text-align: center;
    font-size: 25px;
  }

  #reiniciarbutton{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #52D2BB;
    color: #000000;
    border: none;
    border-radius: 15px;
  }

  #reiniciarbutton:hover{
    border: 2px solid #52D2BB;
    background-color: #fff;
    color: #000000;
    cursor: pointer;
  }

  .gray{
    background-color: aliceblue;
  }

  .gold{
    background-color: rgb(133, 198, 76);
  }

  .green {
    background-color: #52D2BB;
  }


  


  footer{
    background: #52D2BB;
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
}
